*{
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
  box-sizing: border-box;
 
}
body{
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: gray;
 
}
.App{
  text-align: center;
}
.multipleComents{
  margin-top: 2rem;
}
.multipleComents-title{
font-size: larger;
color: rgb(235, 10, 21);
}
.comment-form-title{
  margin-top: 1.2rem;
  color: white;
  text-align: center;
  margin-left: 0.9rem;
}
.comment-form-textarea{
  width: 40%;
  padding: 1rem;
  border: none;
  color: rgb(211, 224, 16);
  font-size: larger;
  font-weight: 500;
  background-color: rgb(206, 39, 184);

}
.comment-form-textarea:focus{
  outline: none;
}
.comment-rorm-cancel-button,.comment-form-button{
  width: 20%;
  margin-left: 0.5rem;
  height: 40px;
  color: white;
  font-size: larger;
  font-weight: bolder;
  background-color: blue;
}
.singlecomment{
  display: flex;
}
img{
  width: 70px;
}
.comment-right-part{
/* border: 1px solid green; */
margin-top: 1rem;

}
.comment-author{
  color: blue;
}
.comment-content{
  display: flex;
  gap: 0.5rem;
  color: rgba(255, 51, 0, 0.568);
}
.comment-actions{
  display: flex;
  gap: 0.5rem;
  color: white;
}
